*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
    outline: none;
    box-sizing: border-box;
}

.header{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.495);
    z-index: 2;
}

.header img{
    width: 30px;
    margin-right: 10px;
}

.header span{
    color: #979797;
    font-size: 20px;
}

.url-shortner{
    background-color: #366ED1;
    width: 100%;
    padding: 40px 110px;
    color: #fff;
    transition: all 0.2s ease-in;
}

.url-shortner .btn{
    background-color: #fff;
    color: #65A1E5;
    padding: 7px 15px;
    border-radius: 2px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.199);
    text-transform: uppercase;
    font-weight: 600;
}

.url-shortner .btn:hover{
    cursor: pointer;
}

.url-shortner .btn:active{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.644);
    
}

.url-shortner input[type="url"]{
    padding: 10px 15px;
    width: 50%;
    border-radius: 2px;
    margin-right: 10px;
    margin:10px;
}
.hidden{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.active{
    display: block;
    visibility: visible;
    max-height:100px;
    transition: max-height 0.33s ease-in;
}

#animate{
    transition: all .3s;    
}


.disabled{
    display: none;
    opacity: 0;
    visibility: hidden;
}



.backdrop{
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
}

.popup-container{
    position: relative;
    background-color: #fff;
    z-index: 4;
    padding: 40px 60px 40px 60px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 5px;
    color: #646464;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
    animation: scale 0.3s ease-in;
}

@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
#popup{
    margin: 0 auto;
    width: fit-content;
}

.popup-container i{
    color: #979797;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 5px;
}

.popup-container i:hover{
    cursor: pointer;
}