*{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
    outline: none;
    box-sizing: border-box!important;
}

.header{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1595);
    z-index: 2;
    position: fixed;
    background-color: #fff;
    width: 100%;
}

.header img{
    width: 30px;
    margin-right: 10px;
}

.header span{
    color: #979797;
    font-size: 20px;
}

.heading{
    margin-left: 8px;
}

.url-shortner{
    background-color: #366ED1;
    width: clac(100% - 20px);
    padding: 50px 110px 40px 90px;
    color: #fff;
    transition: all 0.2s ease-in;
    margin: 68px 10px 10px 10px;    
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
}

.url-shortner .btn{
    background-color: #fff;
    color: #65A1E5;
    padding: 7px 15px;
    border-radius: 2px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.199);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
}

.url-shortner .btn:hover{
    cursor: pointer;
}

.url-shortner .btn:active{
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.644);
    transform: translateY(2px) scale(0.8);
}

.url-shortner input[type="url"]{
    padding: 10px 15px;
    width: 45%;
    border-radius: 2px;
    margin-right: 10px;
    margin:10px;
    transition: all 0.3s ease-in;
}

.url-shortner input[type="url"]:focus{
    transform: scale(1.005);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
}

.hidden{
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.active{
    display: block;
    visibility: visible;
    max-height:100px;
    transition: max-height 0.33s ease-in;
}

#animate{
    transition: all .3s;    
}

.disabled .backdrop{
    display: none;
}
.disabled .popup-container{
    opacity: 0;
    transform: translateY(-1000vh);
    transition: all 2.5s;
}



.backdrop{
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    top: 0;
    left: 0;
}

.popup-container{
    position: relative;
    background-color: #fff;
    z-index: 4;
    padding: 40px 60px 40px 60px;
    border-radius: 5px;
    color: #646464;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
    transform: translateY(0);
    opacity: 1;
    animation-delay: 10ms;
    transition: all 0.6s;
}

#popup{
    margin: 0 auto;
    width: fit-content;
}

.popup-container i{
    color: #f64646;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: -5px;
    padding: 5px;
}

.popup-container i:hover{
    cursor: pointer;
}
html,body{
    height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer{
    padding: 20px 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.305);
    color: #555555;
}


/* mobile view */
@media only screen and (max-width:900px){

    
    .header img{
        width: 25px;
    }
    
    .url-shortner{
        padding: 20px 40px 20px 40px;
    }

    .url-shortner input[type="url"]{
        width: 70%;
    }
    .popup-container{
        padding: 40px 30px 40px 30px;
        margin: 10px;
    }
}

@media only screen and (max-width:600px){
    
    .url-shortner{
        padding: 20px 20px 20px 20px;
    }
    .popup-container{
        padding: 40px 30px 40px 30px;
        margin: 10px;
    }

}

@media only screen  and (max-width:550px){
    .header{
        padding: 10px 10px;
    }
    
    .header img{
        width: 30px;
        margin-right: 10px;
    }
    
    .header span{
        font-size:18px;
    }
    
    .url-shortner{
        text-align: center;
        padding: 20px 10px 45px 10px;
    }
    
    
    .url-shortner input[type="url"]{
        width: 85%;
        margin:25px 0;
    }

    .popup-container{
        padding: 35px 30px 35px 30px;
        margin: 10px;
    }
    
}